{% extends 'base.html'%}
{% load static %}
{% block content%}


<div class="col-lg-6 offset-lg-3 form-group">
      <h3>Reset password</h3>
    <p>Have you forgotten your password? Enter your credentials, we will send you an email to set a new one.</p>
      <form method='POST'>
        {% csrf_token %}
          <span class="ml-2"></span>
          {{ form}}
        <button type="submit" name="send email" class="btn btn-primary ml-2"> Send </button>
      </form>

    </div>


{%endblock content%}